<% if (!user) { %>
  <script defer src="https://accounts.google.com/gsi/client"></script>
<% } %>
</head>
<body>
<nav>
  <a href="/">TAPESTRY</a>
  <a href="/answers">Feed</a>
  <a href="/questions">Answer a Question</a>
  <a href="/profiles">Get to know someone!</a>

  <% if (user) { %>
    <a href="/auth/logout">Log Out</a>
    <a href="/answers/show">
      <% if (user?.profile.avatar) { %>
        <div>
          <img id="avatar"
            src="<%= user.profile.avatar %>"
            alt="<%= user.profile.name %> avatar"
          />
        </div>
    </a>
    <% } %>
    <% if (user.profile.admin) { %>
      <a href="/questions/new">Admin</a>
    <% } %>
  <% } %>



</nav>
