<% if (!user) { %>
  <script defer src="https://accounts.google.com/gsi/client"></script>
<% } %>
</head>
<body>
<nav class="navbar fixed-top">
  <div id="tapestry-logo-div">
    <a class="navbar-brand" href="/">
      <img id="tapestry-logo" src="/images/tapestry-logo.png" width="35px" height="35px" class="d-inline-block align-top" alt="tapestry-logo">
      APESTRY
    </a>
  </div>

  <a href="/about">about</a>

  <% if (user) { %>
    <% if (user?.profile.avatar) { %>
      <a href="/answers">all</a>
      <a href="/questions">share your experiences</a>
      <a href="/profiles">get to know someone</a>
      <% } %>
      <a href="/auth/logout">log out</a>
      <% if (user.profile.admin) { %>
        <a href="/questions/new">admin</a>
        <% } %>
        <div id="nav-avatar">
          <a href="/profiles/<%= user.profile._id %>">
          <img id="avatar"
            src="<%= user.profile.avatar %>"
            alt="<%= user.profile.name %> avatar"
            height="40px"
            width="40px"
        /> </a>
      </div>
  <% } %>
</nav>
