<% if (!user) { %>
  <script defer src="https://accounts.google.com/gsi/client"></script>
<% } %>
</head>
<body>
<nav>
  <a href="/">
    TAPESTRY
    <!-- <img src="/images/tapestry-logo.png" width="45px" height="45px"> -->
  </a>
  <a href="/about">about</a>

  <% if (user) { %>
    <a href="/profiles/<%= user.profile._id %>"></a>
    <% if (user?.profile.avatar) { %>
      <a href="/answers">all</a>
      <a href="/questions">share your experiences</a>
      <a href="/profiles">get to know someone</a>
      <% } %>
      <a href="/auth/logout">log out</a>
      <% if (user.profile.admin) { %>
        <a href="/questions/new">admin</a>
      <% } %>
      <div >
        <img id="avatar"
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
        height="40px"
        width="40px"
        />
      </div>
  <% } %>
</nav>
