<% if (!user) { %>
  <script defer src="https://accounts.google.com/gsi/client"></script>
<% } %>
</head>
<body>
<nav>
  <a href="/questions">Answer a Question</a>
  <a href="/profiles">Read Other Q&As</a>

  <% if (user) { %>
    <a href="/auth/logout">Log Out</a>
    <a href="/self">Self</a>
    <!-- above line was added by CK -->
  <% } %>

  <!-- <#% if (user) && (profile.admin) { %>
    <a href="/admin">Admin</a>
  <#% } %> -->

</nav>
