section {
  min-height: 6000px;
  width: 50%;
}

.profile-avatar {
  margin-top: 50px;
}

#profile-qa-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 15px 0 15px 0;
  width: 100%
}

#profile-avatar-name-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  max-width: 300px;
  margin: 100px 0 0 0
}

#avatar-name {
  color: white;
}

summary {
  padding: 0 0 0 60px;
}

input {

}
