<%- include('./partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/index.css">
<%- include('./partials/nav') %>

<main>

  <div>
    <h1 id="tapestry-logo">TAPESTRY</h1>
  </div>

  <div class="intro-text">
    <p class="about-text">
      Tapestry stems from a project that I started over the Pandemic with <a id="dad-profile" href="profiles/633db557903cce7ad60fcf11">my dad</a>. Realizing I had taken for granted the trips to visit my parents on the other side of the world, I started a correspondence with him to record his thoughts, advice and life experiences.
    </p>
    <p class="about-text">
      Tapestry is an app designed for contemplation, genuine interactions and learn about others.
    </p>
  </div>
</main>

<%- include('./partials/footer') %>
