<%- include('./partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/index.css">
<%- include('./partials/nav') %>

<main>

  <div>
    <h1 id="logo">TAPESTRY</h1>
  </div>

  <h4>Share your experiences & learn about others</h4>

  <div id="google-login">
    <% if (user) { %>
      <!-- <a href="/auth/logout">Login</a> -->
      <h2>Let's get started answering questions!</h2>
    <% } else { %>
      <div
        id="g_id_onload"
        data-client_id="<%= googleClientID %>"
        data-login_uri="/auth/google"
        data-auto_prompt="false"
      ></div>
      <div
        class="g_id_signin"
        data-type="standard"
        data-size="large"
        data-theme="outline"
        data-text="sign_in_with"
        data-shape="rectangular"
        data-logo_alignment="left"
      ></div>
    <% } %>
  </div>

  <div id="quote">
    <h3>"We don't accomplish anything in this life alone...and whatever happens is the result of the whole tapestry of one's life and all the weavings of individual threads from one to another that creates something." </h3>
    <p>- Sandra Day O'Connor</p>
  </div>

</main>

<%- include('./partials/footer') %>
