<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>Questions</h1>
  <h2>Click on a question to answer</h2>

  <ul>
    <% questions.forEach(question => { %>
      <li>
        <%= question.text %></a>

        <% if (user) { %>
          <form action="/answers" method="POST">
            <input type="text" name="text" autocomplete="off">
            <button type="submit">Add Answer</button>
          </form>
        <% } %>

    <% }) %>
  </ul>
</section>

<%- include('../partials/footer') %>
