.qa-div {
  display: flex;
  justify-content: center;
  vertical-align: middle;
}

#primary-qa-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 15px 0 30px 0;
}

p {
  margin: 0 5px 10px 30px;
}

#question {
  font-weight: 500px;
}

#answer {
  color: lightblue;
}
