.qa-div {
  display: flex;
  justify-content: center;
  vertical-align: middle;
}

#primary-qa-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 15px;
}

p {
  margin: 0 20px 0 20px;
}
