html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

body {
  background-color: rgb(163, 21, 0);
  color: #f6f6f6;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  height: 100vh;
  /* Use a system font, if none are available use any found sans-sarif font */
  /* fsystem-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,'Helvetica Neue', sans-serif; */
}

nav {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px;
  min-height: 40px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 100px 0 30px 0;
}

h1 {
  font-size: 32px;
  padding: 10px 0 0 0;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

ul {
  list-style-type: none;
}

p, label, li, button, input {
  font-size: 18px;
}

label {
  font-weight: bold;
}

section {
  padding: 50px;
}

a {
  color: white;
}

pre {
  font-size: 14px;
}

nav > a {
  margin: 10px 30px;
  text-decoration: none;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  margin: 16px 0;
}

.link {
  padding: 10px 0;
  font-size: 18px;
  display: inline-block;
}

.profile-avatar {
  margin-top: 50px;
}

#avatar-name-div {
  padding: 30px 0 0 0;
}

#avatar {
  border-radius: 50%;
}

#qa-div {
  background-color:  rgb(130, 24, 7);
}

#update-form{
  display: flex;
  flex-direction: row;
  width: 600px;
}

.input-group {
  padding: 10px 0 10px 0;
}
